@model Item
@{ ViewData["Title"] = "Crie um item do cardápio";
    Layout = "_LayoutNavSide";
}



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/form-card.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />


<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%;">
    @if (@TempData["Sucesso"] != null)
    {
        <Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>
    }
    else
    {
        <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
    }
    <h1 style="display: flex; justify-content: center;" class="my-5 text-white">Cadastre um item</h1>
    <div class="card cardStyle mx-auto" style="width: 70%">
        <form asp-action="Cadastrar">
            <partial name="_FormCreateUpdate" />
            <row>
                <div class="form-row formRowStyleButton">
                    <a asp-action="Index" class="btn btn-danger mr-2 px-5">Voltar</a>
                    <input type="submit" value="Salvar" class="btn btn-info ml-2 px-5" />
                </div>
            </row>
        </form>
    </div>
</div>
