@model Item
@{
    ViewData["Title"] = "Edite o item do cardápio";
    Layout = "_LayoutNavSide";

}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/form-card.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />


<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%;">
    @if (@TempData["Sucesso"] != null)
    {
        <Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>
    }
    else
    {
        <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
    }
    <h2 style="display: flex; justify-content: center;" class="my-5 text-white">Edite o item escolhido</h2>
    <div class="card cardStyle mx-auto" style="width: 70%">
        <form asp-action="Editar">
            <input type="hidden" asp-for="@Model.CodigoItem" />
            <partial name="_FormCreateUpdate" />
            <row>
                <div class="form-row formRowStyleButton">
                    <input type="submit" value="Salvar" class="btn btn-info mr-3 px-5" />
                    <a asp-action="Index" class="btn btn-outline-danger px-5">Cancelar</a>
                </div>
            </row>
        </form>
    </div>
</div>
