@model Item

<row>
    <input asp-for="CodigoEstabelecimento" />
    <div class="form-row">
        <div class="col-4">
            <label asp-for="Nome" for="name">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" id="name">
            <span asp-validation-for="Nome" class="text-danger mb-3" style="text-align: center"></span>

        </div>
        <div class="input-group col-4" style="display: flex; align-items: end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="valor">R$</span>
            </div>
            <input asp-for="Preco" class="form-control" aria-describedby="valor">
            <span asp-validation-for="Preco" class="text-danger mb-3" style="text-align: center"></span>

        </div>
        <div class="input-group col-4" style="display: flex; align-items: end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="valorCalorico">Kcal</span>
            </div>
            <input asp-for="ValCalorico" type="number" class="form-control" placeholder="Informe o valor calórico do item" aria-describedby="valorCalorico">
            <span asp-validation-for="ValCalorico" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</row>

<row>
    <div class="form-group mt-3">
        <label asp-for="Descricao" for="descricao">Descrição do item</label>
        <textarea asp-for="Descricao" class="form-control" id="descricao" rows="4"></textarea>
        <span asp-validation-for="Descricao" class="text-danger mb-3" style="text-align: center"></span>
    </div>
</row>

<row>
    <div class="form-row formRowStyle">
        <div class="col-4">
            <label asp-for="Foto" for="foto">Link da foto do item</label>
            <input asp-for="Foto" type="text" class="form-control" id="foto">
            <span asp-validation-for="Foto" class="text-danger mb-3" style="text-align: center"></span>
        </div>
        <div class="col-4">
            <label asp-for="Categoria"></label>
            <select asp-items="@Html.GetEnumSelectList<CategoriaItem>()" asp-for=" Categoria"
                    class="form-control">
                <option>-- Selecione --</option>
            </select>
        </div>
        <div class="col-4">
            <label class="form-check-label mr-5 mb-3" for="destaque">
                Esse item está em destaque?
            </label>
            @foreach (var item in ViewBag.status)
            {
                <div class="form-group">
                    <input type="radio" asp-for="Destaque" value="@item" />
                    @if (item == "S")
                     {
                    <label asp-for="@item">Sim</label> 
                     }
                    else
                    {
                    <label asp-for="@item">Não</label>
                    }
                   <span asp-validation-for="Destaque" class="text-danger mb-3" style="text-align: center"></span>
                </div>          
             }
        </div>
    </div>
</row>