@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Visualização do Cardápio - Pratos principais";
    Layout = "_LayoutNavSide";

}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/css/master.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />

<style>
    html {
        background-color: #4196A6;
    }
</style>

<div style="display: flex; flex-direction: column; justify-content: center; margin-left: 8%">
    @if (@TempData["Sucesso"] != null)
    {
        <Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>
    }
    else
    {
        <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
    }

    <h2 style="display: flex; justify-content: center;" class="my-5 text-white">Gerencie seu cardápio - @HttpContextAccessor.HttpContext.Session.GetString("NomeEstabelecimento")</h2>
    <div class="card mx-auto" style="width: 80%; border: 2px solid #800; height: 80%">

        <row>
            <div class="btn-group w-100" role="group">
                <a class="btn btnNav" asp-action="Index"><span class="material-icons pr-2">star</span>Destaques</a>
                <a class="btn btnNavAtual text-white" asp-action="Pratos"><span class="material-icons pr-2">restaurant_menu</span>Pratos principais</a>
                <a class="btn btnNav" asp-action="Bebidas"><span class="material-icons pr-2">local_bar</span>Bebidas</a>
                <a class="btn btnNav" asp-action="Lanches"><span class="material-icons pr-2">fastfood</span>Lanches</a>
                <a class="btn btnNav" asp-action="Sobremesas"><span class="material-icons pr-2">icecream</span>Sobremesas</a>
            </div>
        </row>

        <partial name="_ListItems" />
    </div>

</div>
